<section class="verydarksilver" style="min-height: 400px; padding-top: 100px; padding-bottom: 60px; position: relative; z-index: 9999;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/ArgentPurLogo.png" width="418px" style="margin-bottom: 30px;" alt="ArgentPurLogo">
                <p class="font-serif leading-loose text-highlight">Ernest A. Meunier</p>
                <p class="font-serif leading-loose text-highlight">781 526 3860</p>
                <p class="font-serif leading-loose text-highlight" style="text-decoration: underline;"><a href="mailto:ernest_meunier@msn.com?subject=ArgentPur">Contact Us</a></p>
            </div>
            <div class="col-md-6" style="text-align: right; display: flex; flex-direction: column; justify-content: end;">

                <p class="font-serif leading-loose text-highlight">Dealer enquiries welcome</p>
            </div>
        </div>
    </div>
</section>