<section class="verydarksilver" style="min-height: 400px; padding-top: 100px; padding-bottom: 60px; position: relative; z-index: 9999;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/ArgentPurLogo.png" width="418px" style="margin-bottom: 30px;" alt="ArgentPurLogo">
                <p>Ernest A. Meunier</p>
                <p>781 526 3860</p>
                <p>ernest_meunier@msn.com</p>
            </div>
            <div class="col-md-6" style="text-align: right; display: flex; flex-direction: column; justify-content: end;">

                <p>Dealer enquiries welcome</p>
            </div>
        </div>
    </div>
    <img src="/assets/DISCOUNT.png" width="300px" alt="27% Early Adopter Discount" style="position: absolute; right: 60px; top: -100px;" >
</section>