 <section id="interconnects" style="padding-top: 120px; padding-bottom: 30px;" class="padded spacer top-spacer">
    <div class="row spacer_small">
        <div class="col-lg-8">
            <h1 class="highlight">Interconnects</h1>
            {{interconnects_blurb}}
        </div>
    </div>
    {{collection:products}}
    <a href="/interconnects/{{slug}}">
        <div class="row ">
            <div class="col-xl-5 details product">
                <div class="description">
                    <h2 class="highlight">{{title}}</h2>
                    <p>{{description}}</p>
                </div>
               
                <button class="snipcart-add-item"
                data-item-id="{{slug}}"
                data-item-price="0"
                data-item-description="{{description}}"
                data-item-image="{{image}}"
                data-item-name="{{title}}"
                data-item-custom1-name="Demo Policy"
                data-item-custom1-type="readonly"
                data-item-custom1-value="27 day trial available for demo length of 1M."
                data-item-custom2-name="Length"
                data-item-custom2-value="1M RCA"
                data-item-custom2-options="
                0.5M RCA[{{price_for_0_5m}}]|
                0.5M XLR[{{price_for_0_5_meter_xlr}}]|
                1M RCA[{{price_for_1_meter}}]|
                1M XLR[{{price_for_1_meter_xlr}}]|
                1.5M RCA[{{price_for_1_5_meter}}]|
                1.5M XLR[{{price_for_1_5_meter_xlr}}]|
                2M RCA[{{price_for_2_meter}}]|
                2M XLR[{{price_for_2_meter_xlr}}]|
                3M RCA[{{price_for_3_meter}}]|
                3M XLR[{{price_for_3_meter_xlr}}]|
                4M RCA[{{price_for_4_meter}}]|
                4M XLR[{{price_for_4_meter_xlr}}]|
                5M RCA[{{price_for_5_meter}}]|
                5M XLR[{{price_for_5_meter_xlr}}]|
                ">
                Configure
                </button>
                <!-- <a href="mailto:ernest_meunier@msn.com?subject=Order%20Request:%20{{title}}" class="spacer_very-small"><button class="caption light">Order <span class="">{{title}}</span></button></a> -->
                <!-- <div class="caption">Please note that we are currently taking orders manually, as all cables are made by hand in Boston.</div> -->
            </div>
        </div>
    </a>
    {{/collection:products}}
</section>