<section id="hero-area" style="background-image: url('{{hero_image}}');">
    <div class="logo">
        <img src="/assets/big-logo.svg" alt="{{title}}" height="162px">
    </div>
    <div class="fader"></div>
</section>

<div class="container-fluid">
    
    <section id="intro">
        <div class="row spacer_big">
            <div class="col-sm-10 offset-md-2 spacer_very-small">
                <h2 class="highlight">The sound of no cable</h2>
            </div>
            <div class="col-md-6 offset-md-3">
                <div id="history" class="truncate">
                    {{history_of_agpur}}
                    <div id="expand" class="caption light">+ show more</div>
                    <div id="collapse" class="caption light hide">- show less</div>
                    <div class="fader"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="techhighlights" class="spacer">
        <div class="swiper techhighlights">
            <div class="swiper-wrapper">
                <div class="fader"></div>
                <div class="fader inverted"></div>
                {{collection:tech_highlights}}
                <div class="swiper-slide" style="height: 80vh; width: 100%; background-image: url('{{image}}'); background-size: cover; background-position: top center; background-repeat: no-repeat;">
                </div>
                {{/collection:tech_highlights}}
            </div>
        </div>
        <div class="row spacer" style="margin-top:-50vh; z-index:99; position:relative;">
            <div class="col-md-5 offset-md-1">
                <div class="techcard">
                    <h2 class="highlight" style="margin: 0 50px 48px 50px;">Core technologies</h2>
                    <div class="swiper coretech">
                        <div class="swiper-wrapper">
                            {{collection:core_technologies}}
                            <div class="swiper-slide" style="padding-bottom: 30px;">
                                <div style="padding: 0 50px;">
                                    <h3>{{title}}</h3>
                                    <p class="caption">{{description}}</p>
                                </div>
                            </div>
                            {{/collection:core_technologies}}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
       
        
    </section>

    <section id="testimonial" class="padded">
        <div class="row">
            <div class="col-sm-10 offset-md-2">
                <div class="testimonial spacer">
                    {{collection:testimonials limit="1"}}
                        <p class="spacer_very-small">{{text}}</p>
                        <h3>&mdash; {{attribution}}</h3>
                    {{/collection:testimonials}}
                </div>
            </div>
        </div>
    </section>

    <section id="interconnects" style="padding-bottom: 30px;" class="padded spacer">
        <div class="row spacer_small">
            <div class="col-sm-8">
                <h1 class="highlight">Interconnects</h1>
                {{taxonomy:cable_type title:is="interconnect"}}
                    {{description}}
                {{/taxonomy:cable_type}}
            </div>
        </div>
        {{collection:products taxonomy:cable_type="interconnect"}}
        <div class="row product" style="padding: 0;">
            <div class="col-md-5 description">
                <h2 class="highlight">{{title}}</h2>
                <p class="caption">{{description}}</p>
            </div>
            <div class="col-md-7" style="padding: 0;">
                <img style="width:100%; height: auto; background-color:antiquewhite;" src="{{image}}" alt="">
            </div>
        </div>
        {{/collection:products}}
    </section>

    <section id="testimonial" class="padded">
        <div class="row">
            <div class="col-sm-10 offset-md-2">
                <div class="testimonial spacer">
                    {{collection:testimonials offset="1" limit="1"}}
                        <p class="spacer_very-small">{{text}}</p>
                        <h3>&mdash; {{attribution}}</h3>
                    {{/collection:testimonials}}
                </div>
            </div>
        </div>
    </section>

    <section id="speaker-cables" class="padded spacer_big">
        <div class="row spacer_small">
            <div class="col-sm-8">
                <h1 class="highlight">Speaker Cables</h1>
                {{taxonomy:cable_type title:contains="speaker"}}
                    {{description}}
                {{/taxonomy:cable_type}}
            </div>
        </div>
        {{collection:products taxonomy:cable_type="speaker-cable"}}
        <div class="row product" style="padding: 0;">
            <div class="col-md-5 description">
                <h2 class="highlight">{{title}}</h2>
                <p class="caption">{{description}}</p>
            </div>
            <div class="col-md-7" style="padding: 0;">
                <img style="width:100%; height: auto; background-color:antiquewhite;" src="{{image}}" alt="">
            </div>
        </div>
        {{/collection:products}}
    </section>

    <section id="testimonial" class="padded spacer_big">
        <div class="row">
            <div class="col-sm-10 offset-md-2">
                <div class="testimonial spacer">
                    {{collection:testimonials offset="2" limit="1"}}
                        <p class="spacer_very-small">{{text}}</p>
                        <h3>&mdash; {{attribution}}</h3>
                    {{/collection:testimonials}}
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="padded">
        <div class="row">
            <div class="col-sm-12 spacer">
                <h2>{{pricing_header}}</h2>
                {{pricing_blurb}}
            </div>
        </div>
        {{collection:products taxonomy:cable_type="speaker-cable"}}
        <div class="row">
            <div class="col-md-1">
                {{title}}
            </div>
            <div class="col-md-2">
                {{base-price}}
            </div>
            
        </div>
        {{/collection:products}}
    </section>
    
    <footer>
        <div class="row">
            <div class="col-sm-8 offset-md-2">
                <div>
                    <p>Ernest A. Meunier</p>
                    <p>781 526 3860</p>
                    <p>ernest_meunier@msn.com</p>
                </div>
            </div>
        </div>
    </footer>
</div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".coretech", {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 30,
        grabCursor: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    });
  </script>

   <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".techhighlights", {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 30,
        effect: "fade",
        speed: 5000,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
    });
  </script>

<script>
    $(document).ready(function(){
        $('#expand').click(function(){
            $("#history").removeClass("truncate");
            $("#collapse").removeClass("hide");
            $("#expand").addClass("hide");
            $(".fader").addClass("hide");
        });
        $('#collapse').click(function(){
            $("#history").addClass("truncate");
            $("#collapse").addClass("hide");
            $("#expand").removeClass("hide");
            $(".fader").removeClass("hide");
        });
    });
</script>