<section id="hero-area" style="position: relative;">
    <div class="container mx-auto xl:px-32 relative">
        
    <!-- <img src="/assets/DISCOUNT.png" width="300px" alt="27% Early Adopter Discount" style="position: absolute; right: -50px; top: 200px;" > -->
    <img src="/assets/ArgentPurHero.png" width="100%" alt="ArgentPurHeroImage">
          
   </div>
</section>

<section id="intro" class="-mt-[10vh] pb-32">
    <div class="container">
      <div id="history" class="truncate flex flex-col items-center" style="white-space: pre-wrap;">
          <div class="prose mx-auto prose-invert font-serif pb-16">{{history_of_agpur}}</div>
          <div id="expand" class="caption light">+ show more</div>
          <div id="collapse" class="caption light hide">- show less</div>
          <div class="truncatefader"></div>
      </div>
    </div>
</section>

<section class="py-20 verydarksilver" style="padding-bottom: 90px;">
    {{partial:productcategories}}
</section>

<section class="py-40">
  <div class="text-4xl text-center xl:text-6xl mb-8">Praise for ArgentPur</div>
  {{partial:reviews}}
</section>
   

    <!-- <section id="testimonial" class="padded spacer_big">
        <div class="row">
            <div class="col-xl-10 offset-xl-2">
                {{collection:testimonial_section_3}}
                <div class="testimonial spacer">
                    
                        <p class="spacer_very-small">{{testimonial_prose}}</p>
                        <h3>&mdash; {{testimonial_attribution}}</h3>
                </div>
                {{/collection:testimonial_section_3}}

            </div>
        </div>
    </section> -->


    <!-- {{partial:tech_highlights}} -->

    <!-- <section id="testimonial" class="padded spacer">
        <div class="row">
            <div class="col-xl-10 offset-xl-2">
                {{collection:testimonial_section_2}}
                <div class="testimonial spacer">
                        <p class="spacer_very-small">{{testimonial_prose}}</p>
                        <h3>&mdash; {{testimonial_attribution}}</h3>
                </div>
                {{/collection:testimonial_section_2}}
            </div>
        </div>
    </section> -->

    <!-- {{partial:testimonials}} -->

    <!-- <section id="testimonial" class="padded spacer" style="z-index: 999; position: relative;">
        <div class="row">
            <div class="col-xl-10 offset-xl-2">
                {{collection:testimonial_section_1}}
                <div class="testimonial spacer">
                    <p class="spacer_very-small">{{testimonial_text}}</p>
                    <h3>&mdash; {{testimonial_attribution}}</h3>
                </div>
                {{/collection:testimonial_section_1}}
            </div>
        </div>
    </section> -->




  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".coretech", {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 30,
        grabCursor: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    });
  </script>

   <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".techhighlights", {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 30,
        effect: "fade",
        speed: 5000,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
    });
  </script>

<script>
    $(document).ready(function(){
        $('#expand').click(function(){
            $("#history").removeClass("truncate");
            $("#collapse").removeClass("hide");
            $("#expand").addClass("hide");
            $(".truncatefader").addClass("hide");
        });
        $('#collapse').click(function(){
            $("#history").addClass("truncate");
            $("#collapse").addClass("hide");
            $("#expand").removeClass("hide");
            $(".truncatefader").removeClass("hide");
        });
    });
</script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".productSwiper", {
      grab: true,
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      grabCursor: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        540: {
          slidesPerView: 1,
          spaceBetween: 30,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        992: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1200: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
    },
    });
  </script>