<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="https://use.typekit.net/zyq5uaj.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
         <!-- Link Swiper's CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

         <link rel="stylesheet" href="/css/site.css">

    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" style="justify-content: space-between; align-items: center; display: flex; flex-direction: row;">
                        <img src="/assets/small-logo.svg" alt="AgPur Interconnects" height="50px">
                        <div style="display: flex; flex-direction:row;">
                            <a href="mailto:ernest_meunier@msn.com">
                                <p>Contact</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            {{ template_content }}
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- Default Statcounter code for AgPur
        http://argentpur.audio -->
        <script type="text/javascript">
            var sc_project=12892121; 
            var sc_invisible=1; 
            var sc_security="9755500e"; 
            </script>
            <script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js"
            async></script>
            <noscript><div class="statcounter"><a title="Web Analytics"
            href="https://statcounter.com/" target="_blank"><img
            class="statcounter"
            src="https://c.statcounter.com/12892121/0/9755500e/1/"
            alt="Web Analytics"
            referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
        <!-- End of Statcounter Code -->
    </body>
</html>
