<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="https://use.typekit.net/zyq5uaj.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12" style="justify-content: space-between; align-items: center; display: flex; flex-direction: row; padding: 0 90px;">
                        <img src="/assets/small-logo.svg" alt="AgPur Interconnects" height="50px">
                        <p>Contact</p>
                        <p>Order</p>
                    </div>
                </div>
            </div>
        </header>
        <div>
            {{ template_content }}
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
