<section class="mt-20 mb-32 h-[80vh]" style="position: relative; z-index: -2; background-image: url({{background_image}}); background-size: cover; background-repeat: no-repeat; background-position: top;">
    <div class="fader"></div>
    
</section>
<div class="container -mt-[30vh] mx-auto">
    <div class="text-6xl xl:text-8xl text-center mb-16">{{title}}</div>
    <div style="display: flex; flex-direction: column; align-items: center;" class="mb-32">
        <div class="font-serif-italic text-3xl mx-auto text-center lg:w-2/3 leading-normal mb-4">{{hero_quote}}</div>
        <p class="small text-center">&mdash; {{hero_quote_attribution}}</p>
    </div>
</div>

{{if core_technologies}}
<section class="spacer">
    <div class="container-fluid padded">
        <div class="row g-5">
            {{core_technologies}}
                <div class="col-lg-4">
                    <div style="margin-right: 60px;">
                        <h4 class="highlight">{{title}}</h4>
                        <p class="small">{{text}}</p>
                    </div>
                </div>
            {{/core_technologies}}
        </div>
    </div>
</section>
{{/if}}

<section>  
    <div class="container mx-auto prose prose-invert flex flex-col font-serif mb-24">
        <a href="#" class="" style="color: inherit;">
            <button class="snipcart-add-item relative z-10 bg-white my-8 p-4 text-verydarksilver font-serif-italic"
            class="snipcart-add-item"
            data-item-id="{{slug}}"
            data-item-price="5900"
            data-item-description="One pair ArgentPur monobloc amplifiers"
            data-item-image="{{image}}"
            data-item-name="{{title}}"
            data-item-custom1-name="Demo Policy"
            data-item-custom1-type="readonly"
            data-item-custom1-value="27 day trial available."
            >Buy Now (Demo Available)</button>
        </a>
        {{description}}
    </div>
    <div class="swiper gallery">                
        <div class="swiper-wrapper">
            {{ gallery }}
            <div class="swiper-slide lg:h-[90vh] h-[30vh]" style="padding-top: 30px; width: 100%; background-image: url({{image}}); background-size: contain; background-repeat: no-repeat; background-position: center; overflow: hidden;">
            </div>
            {{ /gallery }}
        </div>
    </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".gallery", {
        effect: "fade",
        autoplay: {
         delay: 2500,
         disableOnInteraction: false,
        },
    });
  </script>

  <!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".sensitivity", {
        spaceBetween: 30,
        effect: "fade",
        grabCursor: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    });
  </script>