<section class="padded top-spacer spacer" style="position: relative; z-index: -2; background-image: url({{background_image}}); background-size: cover; background-position: top; height: 66vh; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div class="fader"></div>
    <div style="display: flex; flex-direction: column; height: 110%; justify-content: end; max-width: 800px; text-align: center;">
        <h2 class="spacer_very-small">{{title}}</h2>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <p style="margin: 0;">{{hero_quote}}</p>
            <p class="small">&mdash; {{hero_quote_attribution}}</p>
        </div>
    </div>
</section>

{{if core_technologies}}
<section class="spacer">
    <div class="container">
        <div class="row">
            {{core_technologies}}
                <div class="col-lg-4">
                    <div style="margin-right: 30px;">
                        <h4 class="highlight">{{title}}</h4>
                        <p class="small">{{text}}</p>
                    </div>
                </div>
            {{/core_technologies}}
        </div>
    </div>
</section>
{{/if}}

<section style="padding-top: 100px; padding-bottom: 90px;" class="verydarksilver">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 spacer_very-small" style="text-align: center;">
                <h4>Three options</h4>
                <p>{{description}}</p>
            </div>
        </div>
        <div class="row">
            {{ collection :from="mount" }}
                <div class="col-lg-4 spacer">
                    <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                        <div>
                            <img src="{{medallion}}" width="100%" style="margin-bottom: 20px;" alt="">
                            <h4 class="highlight">{{title}}</h4>
                            <p class="small">{{description}}</p>
                            <p class="small">${{price_for_1_meter}} for 1M</p>
                        </div>
                        <a href="#" style="color: inherit;">
                            <button
                            class="snipcart-add-item"
                            data-item-id="{{slug}}"
                            data-item-price="0"
                            data-item-description="{{description}}"
                            data-item-image="{{image}}"
                            data-item-name="{{title}}"
                            data-item-custom1-name="Demo Policy"
                            data-item-custom1-type="readonly"
                            data-item-custom1-value="27 day trial available for demo length of 1M."
                            data-item-custom2-name="Length"
                            data-item-custom2-value="1M"
                            data-item-custom2-options="
                            1M[{{price_for_1_meter}}]|
                            1.5M[{{price_for_1_5_meter}}]|
                            2M[{{price_for_2_meter}}]|
                            2.5M[{{price_for_2_5_meter}}]|
                            3M[{{price_for_3_meter}}]
                            "
                            ><h4>Configure</h4></button>
                        </a>
                    </div>
                </div>
            {{ /collection}}
        </div>
    </div>
</section>

<section>
    <div class="swiper gallery">                
        <div class="swiper-wrapper">
            {{ gallery }}
            <div class="swiper-slide" style="padding-top: 30px; width: 100%; height: 90vh; background-image: url({{image}}); background-size: cover; background-repeat: no-repeat; background-position: center; overflow: hidden;">
            </div>
            {{ /gallery }}
        </div>
    </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
   var swiper = new Swiper(".gallery", {
       effect: "fade",
       autoplay: {
        delay: 2500,
        disableOnInteraction: false,
       },
   });
 </script>