<section class="padded top-spacer spacer" style="position: relative; z-index: -2; background-image: url({{background_image}}); background-size: cover; background-position: bottom; height: 66vh; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div class="fader"></div>
    <div style="display: flex; flex-direction: column; height: 110%; justify-content: end; max-width: 800px; text-align: center;">
        <div class="text-6xl xl:text-8xl mb-16">{{title}}</div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="font-serif-italic text-3xl leading-normal mb-4">{{hero_quote}}</div>
            <p class="small">&mdash; {{hero_quote_attribution}}</p>
        </div>
    </div>
</section>

<section id="core-technologies" class="mb-32">
    <div class="container mx-auto 2xl:px-32 grid lg:grid-cols-3 gap-16">
            {{core_technologies}}
                <div class="xl:text-center">
                    <div class="tracking-widest text-highlight mb-2 uppercase">{{title}}</div>
                    <p class="font-serif prose dark:prose-invert">{{text}}</p>
                </div>
            {{/core_technologies}}
    </div>
</section>

<section id="speaker-selector-guide" class="bg-verydarksilver py-16">
    <div class="container grid grid-cols-1 gap-16 2xl:px-32">
        <div class="tracking-widest text-highlight uppercase mx-auto">Optimize your configuration</div>
        <div class="prose dark:prose-invert font-serif mx-auto">
            {{description}}
        </div>
        <div class="lg:px-32 xl:px-48">
            <style>
                .transition, ul li i:before, ul li i:after, p {
                transition: all 0.25s ease-in-out;
                }

                .flipIn, ul li, h1 {
                animation: flipdown 0.5s ease both;
                }

                .no-select, h2 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                }
                ul {
                list-style: none;
                perspective: 900;
                padding: 0;
                margin: 0;
                }
                ul li {
                position: relative;
                padding: 0;
                margin: 0;
                padding-bottom: 4px;
                padding-top: 18px;
                border-top: 1px dotted #dce7eb;
                }
                ul li:nth-of-type(1) {
                animation-delay: 0.5s;
                }
                ul li:nth-of-type(2) {
                animation-delay: 0.75s;
                }
                ul li:nth-of-type(3) {
                animation-delay: 1s;
                }
                ul li:nth-of-type(4) {
                animation-delay: 1s;
                }
                ul li:nth-of-type(5) {
                animation-delay: 1s;
                }
                ul li:last-of-type {
                padding-bottom: 0;
                }
                ul li i {
                position: absolute;
                transform: translate(-6px, 0);
                margin-top: 32px;
                right: 0;
                }
                ul li i:before, ul li i:after {
                content: "";
                position: absolute;
                background-color: #EC694A;
                width: 3px;
                height: 9px;
                }
                ul li i:before {
                transform: translate(-2px, 0) rotate(45deg);
                }
                ul li i:after {
                transform: translate(2px, 0) rotate(-45deg);
                }
                ul li input[type=checkbox] {
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                }
                ul li input[type=checkbox]:checked ~ p {
                margin-top: 0;
                max-height: 0;
                opacity: 0;
                transform: translate(0, 50%);
                }
                ul li input[type=checkbox]:checked ~ i:before {
                transform: translate(2px, 0) rotate(45deg);
                }
                ul li input[type=checkbox]:checked ~ i:after {
                transform: translate(-2px, 0) rotate(-45deg);
                }

                @keyframes flipdown {
                0% {
                    opacity: 0;
                    transform-origin: top center;
                    transform: rotateX(-90deg);
                }
                5% {
                    opacity: 1;
                }
                80% {
                    transform: rotateX(8deg);
                }
                83% {
                    transform: rotateX(6deg);
                }
                92% {
                    transform: rotateX(-3deg);
                }
                100% {
                    transform-origin: top center;
                    transform: rotateX(0deg);
                }
                }
            </style>
            <ul>
                {{ collection :from="mount" }}
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <div class="text-3xl py-4">{{title}}</div>

                    <p class="text-center text-highlight text-lg tracking-wide space-y-4">
                        <img src="{{graph}}" width="100%" alt="" class="mb-12">
                        <span class="block 2xl:px-32">{{description}}</span>
                        <span class="block 2xl:px-32">Standard length (2.5M) pricing from ${{price_for_2_5_meter}}. Available in lengths from less than 0.25M to 4M.</span>
                        <span class="block 2xl:px-32">Custom lengths available. Core price is ${{base_price}}, plus ${{price_per_meter}} per meter.</span>
                        <spa class="block 2xl:px-32">Popular lengths are available to configure below.</span>
                        <button class="snipcart-add-item relative z-10 bg-highlight my-8 p-4 text-verydarksilver font-serif-italic"
                        data-item-id="{{slug}}"
                        data-item-price="0"
                        data-item-description="{{description}}"
                        data-item-image="{{image}}"
                        data-item-name="{{title}}"
                        data-item-custom1-name="Length"
                        data-item-custom1-value="2.5M"
                        data-item-custom1-options="
                        0.25M[{{price_for_less_than_0_25m}}]|
                        1M[{{price_for_1_meter}}]|
                        1.5M[{{price_for_1_5_meter}}]|
                        2M[{{price_for_2_meter}}]|
                        2.5M[{{price_for_2_5_meter}}]|
                        3M[{{price_for_3_meter}}]|
                        4M[{{price_for_4_meter}}]
                        ">Configure {{title}}</button>
                    </p>
                </li>
                {{ /collection}}
            </ul>
        </div>
        <div class="prose dark:prose-invert font-serif mx-auto">
            {{further_detail_on_selector_graph}}
        </div>
    </div>
</section>



<section>
    <div class="swiper gallery">                
        <div class="swiper-wrapper">
            {{ gallery }}
            <div class="swiper-slide" style="padding-top: 30px; width: 100%; height: 90vh; background-image: url({{image}}); background-size: cover; background-repeat: no-repeat; background-position: center; overflow: hidden;">
            </div>
            {{ /gallery }}
        </div>
    </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".gallery", {
        effect: "fade",
        autoplay: {
         delay: 2500,
         disableOnInteraction: false,
        },
    });
  </script>

  <!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".sensitivity", {
        spaceBetween: 30,
        effect: "fade",
        grabCursor: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    });
  </script>