$base: #4E5560;
$slate: #bc3c3c;
$light: #FAFAFA;
$light-transparent: #fafafaba;
$blackglass: rgba(0, 0, 0, 0.66);
$tealglass:#1f292f;

$almostwhite: #EFEFEF;
$silver:#D1D1D1;
$darksilver: #505050;
$middarksilver: #444749;
$verydarksilver: #282B2F;
$inkblack: #121314;
$highlight: #EC694A;
$bluetint: #D1DEFE;

//backgrounds
.almostwhite {
    background-color: $almostwhite;
}
.darksilver {
    background-color: $darksilver;
}
.middarksilver {
    background-color: $middarksilver;
}
.verydarksilver {
    background-color: $verydarksilver;
}
.inkblack {
    background-color: $inkblack;
}