html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
//colors 
.almostwhite {
    background-color: $almostwhite;
}
.verydarksilver {
    background-color: $verydarksilver;
}
footer {
    width: 100%;
    padding: 60px;
    background-color: $blackglass;
    box-shadow: 0px -10px 214px 28px #c1c1c138;
    z-index: 9999;    
    display: flex;
    flex-direction: row;
    color: $bluetint;
    border-top: solid thin $bluetint;
    & p {
        margin-bottom: 0;
        padding: 0 15px;
    }
}
.padded {
    padding:0;
    @media (min-width: $md) {
        padding: 0 99px;
    }
}
.product {
    border: 1px solid rgba(209, 209, 209, 1);
    margin: 0 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    @media (min-width: $md) {
        margin: 0;
        margin-bottom: 30px;
    }
}
.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 120px;
    align-items: center;
}
.logo {
    margin-top: 70vh;
    z-index: 99;
    width: calc(100% - 30px);
    @media (min-width: $md) {
        max-width: 529px;
        top: 70%;
        left: 15px;
    }
    @media (min-width: $xl) {
        max-width: 529px;
        top: 70%;
        left: 12vw;
    }
    & img {
        width: 100%;
    }
}
.category-link {
    height: 90vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .3;
    transition: all 1s;    
    &:hover {
        opacity: 1;
        transition: all 1s;
    }
}
.interconnects-link {
    height: 300px;
    width: 100px;
    background-color: red;
}
.speaker-cables-link {
    
}
.box {
    padding: 90px;
    background-color: $slate;
    border-radius: 4px;
}
.roundcorns {
    border-radius: 17px;
}
.top-spacer {
    padding-top: 120px;
}
.spacer_small {
    margin-bottom: 60px;
}
.spacer_very-small {
    margin-bottom: 30px;
}
.spacer {
    margin-bottom: 90px;
}
.spacer_big {
    margin-bottom: 200px;
}
#hero-area {
    margin-bottom: 120px;
    height: 33vh;
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @media (min-width: $md) {
        margin-bottom: 30px;
        height: 90vh;
        margin-top: 0;
    }
}
#interconnects {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.details {
    padding: 15px; display: flex; flex-direction: column; justify-content: space-between;
}
.description {
    background-color: $blackglass;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    align-items: left;
    justify-content: space-between;
    padding:30px 15px 8px 15px;
    @media (min-width: $md) {
        padding:60px 60px 60px 60px;
    }
}
.techcard {
    background-color: $blackglass;
    padding: 60px 10px;
    position: relative;
    z-index: 99;
    // border: solid thin $bluetint;
    @media (min-width: $xl) {
        margin-top: -50vh;
    }
}
.productpic {
    min-height: 35vh;
    @media (min-width: $md) {
        height: 70vh;
    }
}
.swiper {
    overflow: visible;
    overflow-x: hidden;
}
.swiper-slide {
    height: 35%;
}
.reel {
    height: 40vh;
    @media (min-width: $md) {
        height: 80vh;
    }
}
.hideonmobile {
    display: none;
    @media (min-width: $md) {
        display: block;
    }
}
.swiper-pagination-bullet {
    background: $highlight;
}
.swiper-button-next, .swiper-button-prev {
    color: $highlight;
    z-index: 120;
    height: 18px;
}
.swiper-button-next:after, .swiper-button-prev:after {
        font-size: 24px !important;
        font-weight: 900;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    // right: calc(var(--swiper-navigation-size)/ 44 * 477);
}
.truncate {
    max-height: 600px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.fader {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.inverted {
    transform: rotate(180deg);
    top: 0;
}
#expand {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
}
#collapse {
    cursor: pointer;
}
.hide {
    display: none;
    transition: all 1s;
}
button {
    padding: 12px 100px;
    background-color: $highlight;
    border: none;
    width: 100%;
    color: $silver;
    border-radius: 3px;
    & h3 {
        margin-bottom: 0;
        margin-top: 3px;
        line-height: 20px;
    }
    &:hover {
        background-color: $darksilver;
    }
}
.pricegrid {
    & .caption {
        line-height: 12px;
    }
}
.pricing {
    // border-top: solid 3px $silver;
    padding-top: 1em;
}
.snipcart-modal__container {
    top: 88px;
}


//swiper
.card-testimonial {
    border-radius: 3px;
    background-color: $light;
    width: 100%;
    position: relative;
    padding: 30px;
    height: 100%;
}
.swiper {
    padding-bottom: 30px;
}
.swiper-slide {
    & p {
        max-width: 90%;
    }
}
// .swiper-slide .news-item {
//     padding-bottom: 60px;
// }
.swiper-pagination-bullet-active {
    background-color: $highlight;
}
.swiper-button-next {
    right: 0;
    top: 30px;
    left: auto;
    color: $highlight;
    &:after {
        font-size: 24px;
    }
}
.swiper-button-prev {
    right: 30px;
    top: 30px;
    left: auto;
    color: $highlight;
    &:after {
        font-size: 24px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
}