header {
    height: 120px;
    width: 100%;
    background-color: $light-transparent;
    backdrop-filter: blur(6px);
    box-shadow: 0px 10px 214px 28px #c1c1c138;
    position: fixed;
    z-index: 999;    
}
.box {
    padding: 90px;
    background-color: $slate;
    border-radius: 4px;
}
body {
    background-color: $light;
}
.spacer {
    margin-bottom: 90px;
}