header {
    height: 88px;
    width: 100%;
    background-color: $blackglass;
    backdrop-filter: blur(6px);
    box-shadow: 0px 10px 214px 28px #c1c1c138;
    position: fixed;
    top: 0;
    z-index: 9999;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $bluetint;
    border-bottom: solid thin $bluetint;
    & p {
        margin-bottom: 0;
        padding: 0 15px;
    }
}
footer {
    width: 100%;
    padding: 60px;
    background-color: $blackglass;
    box-shadow: 0px -10px 214px 28px #c1c1c138;
    z-index: 9999;    
    display: flex;
    flex-direction: row;
    color: $bluetint;
    border-top: solid thin $bluetint;
    & p {
        margin-bottom: 0;
        padding: 0 15px;
    }
}
.padded {
    padding:0;
    @media (min-width: $md) {
        padding: 0 99px;
    }
}
.product {
    border: 1px solid rgba(209, 209, 209, 1);
    margin: 0 15px;
    margin-bottom: 30px;
    @media (min-width: $md) {
        margin: 0;
        margin-bottom: 30px;
    }
}
.logo {
    position: absolute;
    top: 90%;
    left: 15px;
    z-index: 99;
    width: calc(100% - 30px);
    @media (min-width: $md) {
        max-width: 529px;
        top: 70%;
        left: 15px;
    }
    @media (min-width: $lg) {
        max-width: 529px;
        top: 70%;
        left: 12vw;
    }
    & img {
        width: 100%;
    }
}
.box {
    padding: 90px;
    background-color: $slate;
    border-radius: 4px;
}
.roundcorns {
    border-radius: 17px;
}
body {
    background-color: #0c1012;
    color: $silver;
}
.spacer_small {
    margin-bottom: 60px;
}
.spacer_very-small {
    margin-bottom: 30px;
}
.spacer {
    margin-bottom: 90px;
}
.spacer_big {
    margin-bottom: 200px;
}
#hero-area {
    margin-bottom: 120px;
    height: 33vh;
    margin-top: 88px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @media (min-width: $md) {
        margin-bottom: 30px;
        height: 82vh;
        margin-top: 0;
    }
}
#interconnects {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.description {
    background-color: $blackglass;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding:30px 15px 8px 15px;
    @media (min-width: $md) {
        padding:30px 60px 8px 60px;
    }
}
.techcard {
    background-color: $blackglass;
    padding: 60px 10px;
    position: relative;
    z-index: 99;
    // border: solid thin $bluetint;
    @media (min-width: $lg) {
        margin-top: -50vh;
    }
}
.productpic {
    min-height: 35vh;
    @media (min-width: $md) {
        min-height: 75vh;
    }
}
.swiper {
    overflow: visible;
    overflow-x: hidden;
}
.swiper-slide {
    height: 35%;
}
.reel {
    height: 40vh;
    @media (min-width: $md) {
        height: 80vh;
    }
}
.hideonmobile {
    display: none;
    @media (min-width: $md) {
        display: block;
    }
}
.swiper-pagination-bullet {
    background: $highlight;
}
.swiper-button-next, .swiper-button-prev {
    color: $highlight;
    z-index: 120;
    height: 18px;
}
.swiper-button-next:after, .swiper-button-prev:after {
        font-size: 24px !important;
        font-weight: 900;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    // right: calc(var(--swiper-navigation-size)/ 44 * 477);
}
.truncate {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.fader {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(17, 21, 24, 0) 0%, #111518 100%);
    background: linear-gradient(180deg, rgba(12, 16, 18, 0) 0%, #0C1012 100%);
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.inverted {
    transform: rotate(180deg);
    top: 0;
}
#expand {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
}
#collapse {
    cursor: pointer;
}
.hide {
    display: none;
    transition: all 1s;
}
button {
    padding: 12px;
    background-color: #000000;
    border: solid $bluetint thin;
    color: $bluetint;
    width: 100%;
}
.pricegrid {
    & .caption {
        line-height: 12px;
    }
}