body {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 136% */
  letter-spacing: 0.01em;
  color: #D1D1D1;
}
@media (min-width: 768px) {
  body {
    font-size: 22px;
    line-height: 30px;
  }
}

h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h1 {
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 0.114em;
  }
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 109% */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    letter-spacing: 0.185em;
    line-height: 36px;
  }
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.185em;
  text-transform: uppercase;
}

.caption {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #D1D1D1;
}

.testimonial {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #D1DEFE;
}
@media (min-width: 768px) {
  .testimonial {
    font-size: 36px;
    line-height: 42px;
  }
}

.light {
  color: #D1D1D1;
}

.highlight {
  color: #ff6060;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #ff6060;
}

header {
  height: 88px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.88);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  box-shadow: 0px 10px 214px 28px rgba(193, 193, 193, 0.2196078431);
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #D1DEFE;
  border-bottom: solid thin #D1DEFE;
}
header p {
  margin-bottom: 0;
  padding: 0 15px;
}

footer {
  width: 100%;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.88);
  box-shadow: 0px -10px 214px 28px rgba(193, 193, 193, 0.2196078431);
  z-index: 9999;
  display: flex;
  flex-direction: row;
  color: #D1DEFE;
  border-top: solid thin #D1DEFE;
}
footer p {
  margin-bottom: 0;
  padding: 0 15px;
}

.padded {
  padding: 0;
}
@media (min-width: 768px) {
  .padded {
    padding: 0 99px;
  }
}

.product {
  border: 1px solid rgb(209, 209, 209);
  margin: 0 15px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .product {
    margin: 0;
    margin-bottom: 30px;
  }
}

.logo {
  position: absolute;
  top: 90%;
  left: 15px;
  z-index: 99;
  width: calc(100% - 30px);
}
@media (min-width: 768px) {
  .logo {
    max-width: 529px;
    top: 70%;
    left: 12vw;
  }
}
.logo img {
  width: 100%;
}

.box {
  padding: 90px;
  background-color: #bc3c3c;
  border-radius: 4px;
}

.roundcorns {
  border-radius: 17px;
}

body {
  background-color: #0c1012;
  color: #D1D1D1;
}

.spacer_small {
  margin-bottom: 60px;
}

.spacer_very-small {
  margin-bottom: 30px;
}

.spacer {
  margin-bottom: 90px;
}

.spacer_big {
  margin-bottom: 200px;
}

#hero-area {
  margin-bottom: 120px;
  height: 33vh;
  margin-top: 88px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  #hero-area {
    margin-bottom: 30px;
    height: 82vh;
    margin-top: 0;
  }
}

#interconnects {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.description {
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 30px 15px 8px 15px;
}
@media (min-width: 768px) {
  .description {
    padding: 30px 60px 8px 60px;
  }
}

.techcard {
  background-color: rgba(0, 0, 0, 0.88);
  padding: 60px 10px;
  position: relative;
  z-index: 99;
}
@media (min-width: 768px) {
  .techcard {
    margin-top: -50vh;
  }
}

.swiper {
  overflow: visible;
  overflow-x: hidden;
}

.swiper-slide {
  height: 35%;
}

.reel {
  height: 40vh;
}
@media (min-width: 768px) {
  .reel {
    height: 80vh;
  }
}

.hideonmobile {
  display: none;
}
@media (min-width: 768px) {
  .hideonmobile {
    display: block;
  }
}

.swiper-pagination-bullet {
  background: #ff6060;
}

.swiper-button-next, .swiper-button-prev {
  color: #ff6060;
  z-index: 120;
  height: 18px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 24px !important;
  font-weight: 900;
}

.truncate {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}

.fader {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(17, 21, 24, 0) 0%, #111518 100%);
  background: linear-gradient(180deg, rgba(12, 16, 18, 0) 0%, #0C1012 100%);
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.inverted {
  transform: rotate(180deg);
  top: 0;
}

#expand {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
}

#collapse {
  cursor: pointer;
}

.hide {
  display: none;
  transition: all 1s;
}

button {
  padding: 12px;
  background-color: #000000;
  border: solid #D1DEFE thin;
  color: #D1DEFE;
  width: 100%;
}

.pricegrid .caption {
  line-height: 12px;
}
